table {
  font-size: 0.8rem;
    &.dataTable-collapse {
        border-collapse: collapse !important;
    }
}

.table.ivas-table th, 
.table.ivas-table td, 
.table.ivas-table thead th {
    border-color: #000;
    border-width: 0.133rem;
}

.ivas-table.table-striped tbody tr:nth-of-type(odd) {
    //background-color: rgba(0, 67, 255, 0.075);
}

.ivas-table {
  font-size: 0.66rem;
  color: #333
}

.ivas-table th, 
.ivas-table td {
  padding: 0.25rem;
  font-weight: 400;
}

.ivas-table th {
  color: #000;
  font-size: 0.6875rem;
  font-weight: 600;
}

.ivas-table td {
    border: 0.133rem solid #000;
    vertical-align: middle;
    color: #000;
}

.ivas-table th:first-of-type {
  text-align: left;
  max-width: 8.45rem;
}

.card.fullh {
  height: 100%;
}
small {
  font-size: .8rem !important;
}
.btn.form-btn {
    margin: 0;
    height: calc(1.9695rem + 0.133rem);
    padding: 0.4rem 0.75rem;
    font-size: 0.813rem;
}


.ivas-table.bigtext {
    font-size: 1rem;
}

.ivas-table.bigtext th:first-of-type {
    width: auto;
    max-width: 23.25rem;
}

.ivas-table.bigtext th, 
.ivas-table.bigtext td {
    font-size: 0.875rem;
    padding: 0.5rem 1.5em;
}

.ivas-table.bigtext thead th {
    font-weight: bold;
}

.ivas-table.bigtext thead th ,
.ivas-table td {
    text-align: left;
}

.ivas-table.bigtext .total td, .ivas-table.bigtext .total th {
    font-size: 1rem;
    font-weight: bold;
}

.ivas-table.bigtext tbody th:first-of-type {
  background: #e5e5e5;
  border-bottom: 0.133rem solid #fff;
  padding-right: 3rem;
  position: relative;
}

.ivas-table.bigtext tbody th:first-of-type:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5rem;
    background: #fff;
    content: '';
    height: 100%;
}

td a {
    cursor: pointer;
}

.table .thead-dark tr,
table.table-bordered.dataTable thead tr {
    background: -webkit-linear-gradient(left,#274eab,#2f006d);
    background: -webkit-linear-gradient(left,#555,#222) !important;
}

.table .thead-dark th,
table.table-bordered.dataTable thead tr th {
    color: #fff;
    background: none;
    border-color: transparent;
    font-weight: bold;
}

table.table-bordered.dataTable tr {
    transition: .25s ease all;
}

table#bill-table, table#invoice-table {
    font-size: 0.725rem;
}

.actions-flex {
    display: flex;
    flex-wrap: wrap;
    width: 115px;
    margin: -0.5rem;
}

.actions-flex > a, .actions-flex > form {
    margin: .5rem;
    flex-wrap: wrap;
}

table#bill-table td,
table#invoice-table td {
    vertical-align: middle !important;
}

.toggle-item-text {
    font-size: 11.5px;
    padding-left: .5rem;
    color: #333;
}

.dropdown-item {
    display: block !important;
}

div.blue {
    background: #3184BF;
    border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: #FFFFFF;
    display: inline-block;
    font-weight: bold;
    line-height: 1em;
    margin-right: 15px;
    text-align: center;
    width: 1em;
    height: 1em;
}
div.blue .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white !important;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}
div.blue:hover .tooltiptext {
    visibility: visible;
}