.form-group {
    position: relative;
    margin-bottom: 0.75rem;
    label {
        font-size: 0.8rem;
        color: $dark;
        margin-bottom: 0.266rem;
    }
}
.form-control {
    border: 0.0666rem solid #999;
    outline: initial !important;
    background: $white;
    color: $dark;
    padding: 0.25rem 0.5rem;
    font-size: 0.8rem;
    &::placeholder {
        color: $gray-600;
    }
    &.rounded, &.form-control-rounded {
        border-radius: 1.33rem;
    }
}

.form-control:disabled, 
.form-control[readonly] {
    background: #eee;
    opacity: 1;
}

.input-fecha, .input-hora {
    background: #fff !important;
}

.inline-form {
  display: inline-block;
}

.inline-form button {
  display: inline-block; 
  background: none; 
  border: 0;
  cursor: pointer;
}

.input-group {
    [type="text"].form-control {
        height: 2.25rem;
    }
}
.input-group-append {
    height: 34.5px;
    .btn {
        height: 2.25rem;
        border: 0;
    }
}

[ngbdatepicker] {
    height: 2.25rem;
}

.input-group.date .input-group-addon {
    position: relative;
    height: calc(1.9695rem + 0.133rem);
    padding: 0.4rem !important;
    border: 0.0666rem solid #999;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: 0;
    color: #fff;
    background: #060208;
}

.input-group.date .input-group-addon .icon-regular {
    font-size: 1rem;
}

.bootstrap-datetimepicker-widget table td span {
  height: auto !important;
  line-height: 1 !important;
}

.bootstrap-datetimepicker-widget table td {
  height: auto !important;
  line-height: 1 !important;
}

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 0.0666rem 0 !important;
}

.bootstrap-datetimepicker-widget button[data-action] {
  margin: 0 !important;
}


/* checkbox-custom */
.checkbox {
    display: block;
    position: relative;
    padding-left: 1.85rem;
    margin-bottom: 0.8rem;
    cursor: pointer;
    user-select: none;
    &:hover input ~ .checkmark {
        background-color: $gray-500;
    }
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
        &:checked ~ .checkmark {
            background-color: $primary;
        }
        &:checked ~ .checkmark:after {
            display: block;
        }
        &[disabled] ~ * {
            color: $gray-300;
        }
    }
    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.33rem;
        width: 1.33rem;
        border-radius: 0.266rem;
        background-color: $gray-300;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 0;
            top: 0;
            right: 0;
            width: 0.266rem;
            bottom: 0;
            margin: auto;
            height: 5.53rem;
            border: solid #{$background};
            border-width: 0 0.133rem 0.133rem 0;
            transform: rotate(45deg);
        }
    }
}

.isEmptyRequired {
    border-color: red;
}

.btn-primary.disabled, .btn-primary:disabled {
    background: #ccc;
    border-color: #aaa;
    color: #666;
    cursor: progress;
}

@each $name, $value in $theme-colors {
    .checkbox-#{$name} {
        input {
            &:checked ~ .checkmark {
                background-color: $value !important;
            }
        }
    }
}

@each $name, $value in $theme-colors {
    .checkbox-outline-#{$name} {
        &:hover input ~ .checkmark {
            background-color: $gray-200;
        }
        input {
            &:checked ~ .checkmark {
                background-color: $background !important;
            }
        }
        .checkmark {
            background: $background;
            border: 0.0666rem solid #{$value};
            &:after {
                border-color:  $value;
            }
        }
    }
}


// RADIO BUTTON
.radio {
    @extend .checkbox;
    .checkmark {
        border-radius: 50%;
        &:after {
            height: 0.4rem;
            width: 0.4rem;
            border-radius: 50%;
            background: white;
        }
      }
}

@each $name, $value in $theme-colors {
    .radio-#{$name} {
        input {
            &:checked ~ .checkmark {
                background-color: $value;
            }
        }
    }
}
@each $name, $value in $theme-colors {
    .radio-outline-#{$name} {
        &:hover input ~ .checkmark {
            background-color: $gray-200;
        }
        input {
            &:checked ~ .checkmark {
                background-color: $background !important;
            }
        }
        .checkmark {
            background: $background;
            border: 0.0666rem solid #{$value};
            &:after {
                border: 0;
                background: $value;
            }
        }
    }
}

// SWITCH 
.switch {
    position: relative;
    display: inline-block;
    padding-left: 3.37rem;
    height: 1rem;
    span:not(.slider) {
        position: relative;
        top: -2px;
        cursor: pointer;
    }
    input { 
        opacity: 0;
        width: 0;
        height: 0;
    }
    .slider {
        position: absolute;
        cursor: pointer;
        width: 42px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 2.25rem;
        background-color: $gray-300;
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 1.6rem;
        width: 1.6rem;
        left: -0.0666rem;
        bottom: -4px;
        background-color: $background;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
        box-shadow: 0 0.2rem 0.0666rem -2px rgba(0,0,0,0.2), 0 0.133rem 0.133rem 0 rgba(0,0,0,0.14), 0 0.0666rem 0.33rem 0 rgba(0,0,0,0.12);
      }
      
      input:checked + .slider {
        background-color: $primary;
      }
      
      input:focus + .slider {
        box-shadow: 0 0 0.0666rem $primary;
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(20px);
        -ms-transform: translateX(20px);
        transform: translateX(20px);
      }
}

@each $name, $value in $theme-colors {
    .switch-#{$name} {
        input:checked + .slider {
            background-color: $value;
        }
          
        input:focus + .slider {
            box-shadow: 0 0 0.0666rem $value;
        }
    }
}

.item-factura-form.form-row {
    margin: 0;
    padding: 1rem;
    border: 0.133rem solid #5b5164;
    border-radius: 0.33rem;
}

.row.form-container {
    max-width: 80rem;
}

.tab-content h3,
form h3 {
    margin: 1rem 0;
    border-bottom: 0.45rem solid #F0C962;
    display: inline-block;
}

.item-factura-form .botones-editar {
  display: none;
}

.item-factura-form.editando .botones-editar {
  display: block;
}

.item-factura-form.editando .botones-agregar {
  display: none;
}

.tagging,
input.type-zone {
    background: #eee;
}

.btn.btn-agregar.btn-agregar-cliente {
    margin-left: 1rem;
    color: #fff;
    background-color: #1e0a26;
    border-color: #1e0a26;
    text-align: center;
    padding: .25em .5em;
    font-size: 0.7rem;
}

.inline-form.inline-checkbox label {
    line-height: 1;
}

.inline-form.inline-checkbox input {
    height: 0.875rem;
    width: 0.875rem;
    margin-left: 0.66rem;
    position: relative;
    top: 0.2rem;
}

.inline-form.inline-checkbox span {
    display: inline-block;
}

 .inline-form .form-control {
  display: inline-block;
  width: auto;
}

.tab-content {
    max-width: 670px;
    margin-top: -1.5rem;
}

.form-group .description {
    color: #999;
    font-size: 0.6875rem;
    line-height: 1.1;
    margin-top: 0.33rem;
}

  .ayuda-cont, .exoneracion-cont {
    background: #f5f5f5;
    padding: 0.66rem 1rem !important;
    padding-bottom: 0 !important;
    border: 0.0666rem solid #999;
    margin-top: -.5rem;
    margin-bottom: .5rem;
  }
  
  .ayuda-cont .form-group label, .exoneracion-cont .form-group label {
      font-size: 0.6875rem;
      line-height: 1.3;
  }

  .pregs {
    display: none;
    margin-bottom: .5rem;
  }
  
  #recomendacion {
    margin-bottom: .5rem;
    padding: 0.33rem 1rem;
    font-size: 0.66rem;
    background: #fff;
    color: #2b53d5;
    border: dotted 0.0666rem;
  }

.ayuda-cont .form-group label {
    height: 1.85rem;
    display: flex;
    align-items: flex-end;
}
