// .modal-dialog{
//     animation-name: zoomIn;
//     animation-duration: 0.3s;
//     animation-timing-function: ease-in-out;
// }


.popup.is-active {
    display: flex;
    opacity: 1;
}

.popup {
    display: none;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s ease all;
    background: rgba(0,0,0,0.75);
    padding: 1rem;
    z-index: 999;
}

.popup:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #2852A6 0%, #392993 100%);
    opacity: 0.5;
}

.popup .popup-container {
    background: #fff;
    margin: auto;
    max-width: 45rem;
    position: relative;
    padding: 1rem;
    max-height: 100%;
    overflow-y: auto;
}

.close-popup {
    position: absolute;
    top: .5rem;
    right: 1rem;
    font-size: 2rem;
    color: #000;
    height: 38px;
    z-index: 2;
    cursor: pointer;
}

.close-popup i.fa {
    font-size: 2rem !important;
}

.helper {
  position: absolute !important;
  display: inline-block;
  top: -5px !important;
  left: 100% !important;
  margin-left: 1px !important;
  padding: 0 !important;
  font-size: 1rem !important;
  color: #fcc6e1 !important;
  background: #fff !important;
  cursor: help;
}

.comparacion-prorratas label,
.card-title,
.dato-iva label > span {
  position: relative;
}

.comparacion-prorratas label .helper,
.sidebar-dashboard .dato-iva label span .helper {
  margin-left: -5px !important;
}

.tippy-tooltip {
  background: #fff;
  color: #5f6889;
  padding: .5rem;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
}

.tippy-popper[x-placement^=top] .tippy-arrow {
  border-top: 8px solid #5f6889;
}

.tippy-popper[x-placement^=bottom] .tippy-arrow {
  border-bottom: 8px solid #5f6889;
}

.tippy-content {
  text-align: left;
  font-size: .85rem;
}

.comparacion-prorratas label {
    padding-right: .5rem;
}

.swal2-container .swal2-styled{
    box-shadow: none !important;
    border: 0 !important;
    outline: none !important;
}

.swal2-container .swal2-styled:not(.swal2-cancel) {
    background: #d22346 !important
}

.swal2-container.container-success .swal2-styled:not(.swal2-cancel) {
    background: #158e5d!important;
}


  .modal-open .modal:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -webkit-gradient(linear, left top, right top, from(#2852A6), to(#392993));
      background: linear-gradient(90deg, #2852A6 0%, #392993 100%);
      opacity: 0.6;
  }
  
  .modal-header .close {
      font-size: 4rem;
      opacity: 1;
      line-height: 1;
      padding: 0 1rem;
  }
  
  .modal.show .modal-dialog {
      margin: auto;
  }
  
  .modal-open .modal {
      display: flex !important;
  }
  
  .modal-content {
      max-height: 95vh;
  }

  .validate-table select,
  .validate-table {
    font-size: 10px;
    line-height: 1;
  }
  
  .validate-table select {
    
  }
  
  .validate-table th,
  .validate-table td {
      padding: .5rem;
      vertical-align: middle;
  }
  
  .modal-lg {
      max-width: 80rem;
  }

  .modal-content .btn-primary {
      margin: 0;
  }
  .modal-content {
      max-height: 95vh;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
  }