.dropzone {
    min-height: 10rem;
    border: 0.133rem dashed #673ab75e !important;
    background: #F5F5F5 !important;
    padding: 1.33rem 1.33rem;
}

.dz-error-mark g {
    fill: red;
}

.dz-success-mark g {
    fill: green;
}

.dropzone {
    width: 100%;
    margin-top: 1.5rem;
}

div#importar-recibidas-popup .popup-container, 
div#importar-emitidas-popup .popup-container {
    max-width: 60rem;
}

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    position: absolute;
    top: auto;
    bottom: 0px;
    height: 20px;
    width: 20px;
    margin: 0;
    right: 0px;
    left: auto;
    z-index: 9999;
}

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
    height: 20px;
    width: 20px;
}

.dropzone .dz-preview .dz-error-message {
    font-size: 9px;
    overflow: hidden;
    width: auto;
    top: 0;
    margin: 0;
    left: 0;
    height: 100%;
    word-break: break-word;
}