    
    	
.wizard-container {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.wizard-popup {
    max-width: 48rem;
    height: auto;
    margin: auto;
    margin-top: 4rem;
    position: relative;
}


.wizard-popup {
    max-width: 56rem;
    height: auto;
    margin: 4rem auto auto;
    position: relative;
}

.wizard-popup  .select2-container--open .select2-dropdown--above {
    font-size: 10px;
}

.wizard-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #2852A6 0%, #392993 100%);
    opacity: 1;
}

.wizard-container .btn-holder {
	display: flex;
}

.wizard-popup .form-container {
    background: #fff;
    padding: 2rem;
    border-radius: 1rem;
    max-height: calc(95vh - 11.5rem);
    height: auto;
    margin-right: 12rem;
    overflow-y: auto;
}

.titulo-bienvenida {
    padding: 0 2rem;
    padding-bottom: 1rem;
}

.titulo-bienvenida h2 {
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
}

.page-wizard .titulo-bienvenida p {
    color: #fff;
}

.page-wizard .breadcrumb {
    display: none;
}

.wizard-steps {
    position: absolute;
    display: block;
    counter-reset: step-counter;
    margin: 0;
    font-weight: bold;
    margin-bottom: 1rem;
    right: 0;
}

.wizard-steps .step-btn {
    flex: 1;
    text-align: center;
    position: relative;
    margin: auto;
    margin-bottom: 1.5rem;
}

.wizard-steps .step-btn span {
    position: absolute;
    text-align: left;
    color: #fff;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.5;
    font-weight: 400;
}

.wizard-steps .step-btn:after {
    position: relative;
    content: counter(step-counter);
    counter-increment: step-counter;
    width: 3rem;
    height: 3rem;
    top: 0;
    left: 0;
    background: #eee;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #333;
    font-weight: bold;
    z-index: 1;
    transition: .5s ease all;
    margin-right: 6rem;
    border: 0.2rem solid #fff;
}

.wizard-steps .step-btn:before {
    position: absolute;
    content: '';
    width: 0.45rem;
    height: 5rem;
    bottom: 50%;
    left: 1.37rem;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #eee;
    font-weight: bold;
    z-index: 0;
    transition: .5s ease all;
    border: 0.133rem solid #fff;
}

.wizard-steps .step-btn:first-of-type:before {
    display: none;
}

.wizard-steps .step-btn.is-active:after,
.wizard-steps .step-btn.is-active:before,
.step2-selected .step1:before,
.step2-selected .step1:after,
.step3-selected .step1:before,
.step3-selected .step1:after,
.step3-selected .step2:before,
.step3-selected .step2:after,
.step4-selected .step1:before,
.step4-selected .step1:after,
.step4-selected .step2:before,
.step4-selected .step2:after,
.step4-selected .step3:before,
.step4-selected .step3:after,
.step5-selected .step1:before,
.step5-selected .step1:after,
.step5-selected .step2:before,
.step5-selected .step2:after,
.step5-selected .step3:before,
.step5-selected .step3:after,
.step5-selected .step4:before,
.step5-selected .step4:after{
    background: #F0C962;
    color: #333;
}

.wizard-form .step-section {
	display: none;	
}

.wizard-form .step-section.is-active {
	display: block;
}

.wizard-container .btn-holder {
	display: block;
	width: 100%;
}

.wizard-container .btn-holder .btn-next {
    float: right;
}

.wizard-container .btn-holder .btn-prev {
    float: left;
    background: #fff;
    border-color: #15408E;
    color: #15408E;
}

.wizard-container .form-button {
    display: block;
    margin: 0;
    padding: 0.25rem 0.5rem;
    font-size: 0.9rem;
    height: calc(1.9695rem + 0.133rem);
}

.bigtext {
    font-size: 1.3rem;
    color: #000;
    line-height: 1.1;
    margin: 1.5rem 0;
}

.bigtext span {
    font-weight: bold;
    color: #2845A4;
}

.wizard-container .precio-container {
    background: #d6d4cc;
    padding: .75rem 1.5rem;
    font-size: 1.3rem;
    line-height: 1;
    border-radius: 5px;
    display: block;
}
.biginputs .form-group label {
    font-size: 1.2rem;
}
.biginputs .form-group select {
    font-size: 1.5rem;
    line-height: 1.1;
    height: auto;
}
.wizard-container .precio-container span {
    font-size: 1.75rem;
    font-weight: bold;
}
.wizard-container .precio-container span.etiqueta-descuento {
  font-size: 0.8rem;
  font-weight: normal;
}

.btn-cerrarsesion {
    position: absolute;
    top: .5rem;
    right: .5rem;
    color: #fff !important;
    font-size: 1.2rem;
    padding: .5rem .25rem;
    border: 2px solid #fff;
    font-weight: bold;
    z-index: 99;
}
    
.companyParent.suscripciones select {
    font-size: 1rem;
}

.companyParent.suscripciones {
    margin: 3rem 0 0 auto;
    width: auto;
    color: #999;
    font-size: .9rem;
    padding: .25rem;
    line-height: 25px;
}

.companyParent.suscripciones label {
    margin: 0;
}

.companyParent.suscripciones .form-group {
    margin: 0;
}    
    
@media (max-width: 580px) {    
    .wizard-popup {
        position: relative;
        width: 100%;
        height: auto;
        margin: auto;
        padding: 1rem;
        padding-bottom: 3rem;
    }
    
    .wizard-steps {display: none;}
    
    .wizard-popup .form-container {
        width: 100%;
        max-height: none;
    }
    
    .wizard-popup h3 {
        margin-top: 0;
    }
    
    .wizard-container {
        overflow-y: scroll;
    }
    
    .wizard-container:before {
        position: fixed;
        opacity: 1;
    }
    .btn-cerrarsesion {
	    display: none;
	}
	.bigtext {
      font-size: 1.3rem;
      color: #000;
      line-height: 1.1;
      margin: 1.5rem 0;
    }
    .wizard-container .btn-holder a{
      font-size: .8rem;
    }
}

@media screen and (max-width: 380px) {
    .wizard-container .btn-holder a{
      font-size: .8rem;
    }
    .wizard-container .btn-holder .btn {
      width: 100%;
    }
}