.app-footer {
    margin-top: 2rem;
    background: $gray-200;
    padding: 1.25rem;
    border-top-left-radius: 0.66rem;
    border-top-right-radius: 0.66rem;
    .footer-bottom {
        width: 100%;
        .logo {
            width: 3rem;
            height: auto;
            margin: 0.266rem;
        }
    }
}