.main-header {
    position: fixed;
    width: 100%;
    height: $topbar-height;
    box-shadow: 0 0.0666rem 1rem rgba(0,0,0,.15), 0 0.0666rem 0.4rem rgba(0,0,0,.15);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 100;
    background: linear-gradient(90deg, #fff 0%, #e5e5e5 100%);
    .menu-toggle {
        width: 6rem;
        display: flex;
        flex-direction: column;
        align-items: center;       
        cursor: pointer;
        margin-right: 0.8rem;
        div {
            width: 1.6rem;
            height: 2px;
            background: $foreground;
            margin: 0.2rem 0;
        }
    }

.dropdown {
    cursor: pointer;
}

    .search-bar {
        display: flex;
        align-items: center;
        justify-content: left;
        background: $gray-100;
        border: 0.0666rem solid $gray-200;
        border-radius: 1.33rem;
        position: relative;
        width: 15.33rem;
        height: 2.66rem;
        input {
            background: transparent;
            border: 0;
            color: #212121;
            font-size: .8rem;
            line-height: 2;
            height: 100%;
            outline: initial!important;
            padding: .5rem 1rem;
            width: calc(100% - 2.15rem);
        }
        .search-icon {
            font-size: 1.1rem;
            width: 1.6rem;
            display: inline-block;
        }
    }

    .logo {
        width: auto;
        text-align: center;
        font-size: 2rem;
        height: 5.25rem;
        padding: 0.66rem 0;
        color: $white;
        img {
            width: auto;
            height: 100%;
            margin: auto;
            display: block;
            padding: 0.56rem 0;
            padding-left: 1rem;
        }
    }
    .show {
        .header-icon {
            background: $gray-100;
        }
    }
    .header-icon {
        font-size: 1.15rem;
        cursor: pointer;
        height: 2.4rem;
        width: 2.4rem;
        line-height: 2.4rem;
        display: inline-block;
        text-align: center;
        border-radius: 5.53rem;
        margin: 0 0.133rem;
        color: $white;
        &:hover {
            background: $gray-100;
            color: $purple;
        }
        &.dropdown-toggle {
            &:after { display: none; }
        }
    }
    .header-part-right {
        display: flex;
        align-items: center;
        .user {
            margin-right: 2rem;
            img {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
            }
        }
    }
    .notification-dropdown {
        padding: 0;
        max-height: 17.33rem;
        cursor: pointer;
        .dropdown-item {
            display: flex;
            align-items: center;
            padding: 0;
            height: 4.8rem;
            border-bottom: 0.0666rem solid $gray-300;
            .notification-icon {
                background: $gray-200;
                height: 100%;
                width: 2.9rem;
                display: flex;
                align-items: center;
                justify-content: center;
                i {
                    font-size: 1.1rem;
                }
            }
            .notification-details {
                padding: .25rem .75rem;
            }
            &:active {
                color: inherit;
                background: inherit;
            }
        }
        
    }
}

.logo {
    text-align: center;
    font-size: 2rem;
    color: #787fff;
}

.main-header .logo {
    width: 10rem;
    text-align: center;
    font-size: 2rem;
    height: 5.25rem;
    padding: 0.66rem 0;
}

.main-header .logo img {
    width: auto;
    height: 100%;
    margin: auto;
    display: block;
    padding: 0.66rem;
}

.breadcrumb {
    position: relative;
}

.filters select {
    border: 0;
    border-bottom: 0.133rem solid #ddd;
    background: #eee;
    padding: .25rem;
    margin-right: .5rem;
}

.filters label {
    margin: 0;
}


     

@media (max-width: 990.0666rem) {
    .main-header {
        .search-bar {
            width: 12rem;
        }
        .menu-toggle {
            width: 1.6rem;
            margin-right: 2.4rem;       
        }
    }
    

}

@media (max-width: 580px) {
    .main-header {
        height: $topbar-height-mobile;
        padding: 0 .5rem;
        .search-bar {
            display: none;
        }
        .menu-toggle {
            width: 4rem;
        }
        .header-part-right {
            .user {
                margin-right: 0;
                padding-right: 0;
            }
        }
    }
    .notification-dropdown {
        left: 0.66rem !important;
    }
    .companyParent label {
        display: none;
    }
    
        
    .companyParent label {
        display: none;
    }
    
    .companyParent .form-control {
        font-size: .65rem;
        padding: .25rem;
    }
    
    .main-header .header-part-right .user {
        margin-left: 0;
        padding-left: .25rem;
    }
    
    .toggle-vista.filters {
        position: relative;
    }
    
    .breadcrumb-buttons {
        margin-left: 0;
        display: flex;
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    .sidebar-dashboard .dato-iva label {
        width: 100%;
        margin-top: .5rem;
    }
    
    .main-header .menu-toggle div {
        height: 2px;
    }
    
    .main-header .menu-toggle {
        position: absolute;
        right: 1rem;
    }
    
    .main-header .header-part-right {
        position: fixed;
        bottom: 0;
        left: 0;
        margin: 0;
        width: 100%;
        background: linear-gradient(45deg, #5533ab 0%, #4744c3 100%);
        box-shadow: 0 0 15px rgba(0,0,0,0.25);
        padding: 0 1rem;
    }
    
    .dropdown {
        padding: .25rem;
        background: #fff;
        text-align: center;
        border-radius: 50px;
        top: 1px;
    }
    
    .main-header .header-part-right .user img {
        position: relative;
        left: -2px;
        height: 1.5rem;
        width: 1.5rem;
    }
    
    .companyParent {
        margin-right: 15px;
        width: auto !important;
    }

}
@media (max-width: 360px) {
    .main-header {
        .menu-toggle {
            margin: 0;
        }
    }

}