@import "../../../fonts/stylesheet.css";
@import "../variables";

$blue:    #15408E !default;
$blue2:   #323699 !default;
$indigo:  #6610f2 !default;
$purple:  #4C006D !default;
$purple2: #3f1c84 !default;
$pink:    #e83e8c !default;
$red:     #d22346 !default;
$orange:  #e97d23 !default;
$yellow:  #F0C962 !default;
$green:   #4CAF50 !default;
$teal:    #20c997 !default;
$cyan:    #9C27B0 !default;

$primary-base: $purple;
$secondary-base: $blue;

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #bbb !default;
$gray-600: lighten(desaturate($primary-base, 40), 4%) !default;
$gray-700: darken(desaturate($primary-base, 40), 0%) !default;
$gray-800: darken(desaturate($primary-base, 40), 8%) !default;
$gray-900: darken(desaturate($primary-base, 40), 12%) !default;
$black:    #000 !default;
$btn-gray: #505050;


$gradient:      linear-gradient(45deg, #20378C 0%, #3f1c84 66%, #4C006D 100%);

$primary:       $primary-base !default;
$secondary:     $secondary-base !default;
$success:       $green !default;
$info:          $blue !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-500 !default;
$dark:          #050505 !default;
$background:    $white !default;
$foreground:    $gray-900 !default;
$heading:       darken($foreground, 8%);

$colors: (
  blue: $blue,
  indigo: $indigo,
  purple: $purple,
  pink: $pink,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  green: $green,
  teal: $teal,
  cyan: $cyan,
  white: $white,
  gray: $gray-600,
  gray-dark: $gray-800
) !default;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  gray-100: $gray-100,
  gray-200: $gray-200,
  gray-300: $gray-300,
  gray-400: $gray-400,
  dark: $dark
) !default;

@import "../../vendor/bootstrap/bootstrap.scss";
@import "../globals/globals.scss";

.notificaciones-header > a {
    position: relative;
    display: inline-block;
    color: #000;
    margin: 0 1rem;
}

.notificaciones-header .fa {
    position: relative;
    font-size: 1.8rem !important;
    line-height: 2rem;
}

.notificaciones-header .notification-count {
    position: absolute;
    font-size: 8px;
    background: #e00000;
    color: #fff;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    top: -10px;
    right: -7.5px;
    font-weight: bold;
    text-align: center;
    display: none;
}
.notificaciones-header .mostrar-count-notificacion {
    display: block;
}
.dropdown-notificaciones {
    top: 100%;
    right: 1rem;
    z-index: 1000;
    display: none;
    float: left;
    padding: 1rem 0 0;
    margin: 0.125rem 0 0;
    color: #1e0a26;
    text-align: left;
    list-style: none;
    background-color: #ffffff;
    background-clip: padding-box;
    border-radius: 0.25rem;
    position: absolute;
    min-width: 25rem;   
    border: 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
.notificacion-nueva{
    background: #c2c2c2;
}
.notificacion-seleccionado{
    background: #e6e6e6;
}
.dropdown-notificaciones h3{
    font-size: 1.2rem;
    margin-bottom: 1.25rem;
    margin-left: 20px;
    border-bottom: 0.45rem solid #F0C962;
    display: inline-block;
}
.divicion-notificaciones{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 0.1rem dashed #e5e5e5;
    height: 0;
    border-top-style: dashed;
}
.date-notificaciones{
    font-size: 10px;
}
.notificacion-info{
    color: #2F96B4;
}
.notificacion-success{
    color: #51A351;
}
.notificacion-error{
    color: #BD362F;
}
.notificacion-warning{
    color: #F89406;
}
.ver-mas-notificaciones {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    display: block;
    border-top: 2px solid;
    padding-top: 5px;
    color: #ffffff;
    background: #15408E;
}
.div-notificaciones-left{
    height: calc(100vh - 21rem);
    overflow-y: auto;
}
.div-notificaciones-rigth{
    height: calc(100vh - 21rem);
    overflow-y: auto;
}
.icono-notificaciones i {
    padding-right: 5px;
}
.titulo-notificacion .icono-notificaciones i {
    padding-right: 5px;
    font-size: 2rem !important;
}
.date-notificacion{
    font-size: 10px;
}
#imprimir-notificaciones{
    overflow-y:auto;
    max-height:20rem;
    transition: ease;
    transition-duration: 0.8s;
}
.todas-notificaciones .ver-mas-notificaciones{
    display: none;
}
.todas-notificaciones #imprimir-notificaciones{
    overflow-y:auto;
    max-height:40rem;
    transition: ease;
    transition-duration: 0.8s;
}
.todas-notificaciones{
    min-width: 80rem;
    transition: ease;
    transition-duration: 0.8s;
}
.cerrar-notificaciones{
    color: #d82f2f;
    top: 1rem;
    right: 5px;
    position: absolute;
    cursor: pointer;
}
.limpiar-notificaciones{
  top: 1rem;
  right: 35px;
  position: absolute;
  cursor: pointer;
}