.customizer {
    position: fixed;
    z-index: 9999;
    top: 45%;
    right: -7.45rem;
    transition: .3s all ease-in-out;
    &.open {
        right: 0;
    }
    .handle {
        position: absolute;
        display: flex;
        top: 5.53rem;
        left: -24px;
        background: $background;
        cursor: pointer;
        padding: 0.66rem 0.133rem;
        border-top-left-radius: 0.266rem;
        border-bottom-left-radius: 0.266rem;
        box-shadow: -3px 0px 0.266rem rgba(0, 0, 0, 0.06);
        color: $primary;
        font-size: 1.33rem;
        transition: .3s all ease-in-out;
        &:hover {
            background: $primary;
            color: $white;
        }
    }
    .customizer-body {
        padding: 1rem;
        border-top-left-radius: 0.266rem;
        border-bottom-left-radius: 0.266rem;
        background: $background;
        box-shadow: 0 0.266rem 1.33rem 0.0666rem rgba(0, 0, 0, 0.06), 0 0.0666rem 0.266rem rgba(0, 0, 0, 0.08);

        .colors {
            .color {
                width: 1.6rem;
                height: 1.6rem;
                display: inline-block;
                border-radius: 50%;
                margin: 5.53rem;
                text-indent: -10000px;
                &.purple {
                    background: #663399;
                }
                &.blue {
                    background: #2f47c2;
                }
            }
        }
    }
}