.icon-regular {
    font-size: 1.1rem;
    -webkit-font-smoothing: subpixel-antialiased;
}
.link-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: $foreground;
    i {
        margin: 0 5.53rem;
    }
}