.popover {
    border: none;
    // animation-name: zoomIn;
    // animation-duration: 0.3s;
    // animation-timing-function: ease-in-out;
    box-shadow: 0 0.266rem 1.33rem 0.0666rem rgba(0, 0, 0, 0.06), 0 0.0666rem 0.266rem rgba(0, 0, 0, 0.08);
    .arrow {
        &::before {
            border-color: rgba(0, 0, 0, 0);
        }
    }
}